@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login{
        width: 80vw;
        height: 60vh;
    }
    section#login > div#img{
        float: left;
        border-radius: 20px 0px 0px 20px;
        width: 40%;
        height: 100%;
        background-position: center top;
    }
    section#login > div#form{
        float: right;
        width: 60%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    section#login{
        width: 990px;
    }
    section#login > div#img{
        float: left;
        border-radius: 20px 0px 0px 20px;
        width: 50%;
        height: 100%;
        background-position: right top;
    }
    section#login > div#form{
        float: right;
        width: 50%;
        height: 100%;
    }
}