@charset "UTF-8";
:root{
    --ouro: #58432E;
    --rosa: #CA77AF;
    --preto: #070B11;
}
* {
    margin: 0px;
    padding: 0px;
}
html body main{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: linear-gradient(135deg, var(--preto) 15%, var(--rosa) 30%, var(--ouro)85%);
    background-repeat: no-repeat;
}
section#login{
    position: absolute;
    top: 50vh;
    left: 50vw;
    translate: -50% -50%;
    border-radius: 20px;

    min-width: 280px;

    background-color: white;
}
div#form{
    padding: 20px;
}
div#img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
div#img>img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}